<div class="sidebar-sticky pt-3">
  <h4 class="text-center">📊 Statistics</h4>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">🏠 Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/01-Learning_Statistics_Roadmap">📊 Learning Statistics Roadmap</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/02-Basic_Concepts_of_Statistics">📊 Basic Concepts of Statistics</a></li>
    
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/distributions">📈 Distributions</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/inference">📉 Inference</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/visualization">📊 Visualization</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/outliers">🔎 Outliers</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/regression">📉 Regression</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/summary">🧾 Summary Stats</a></li>
  </ul>
</div>
