<div class="sidebar-sticky pt-3">
  <h4 class="text-center">📊 Statistics</h4>
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/">🏠 Home</a></li>
    <li class="nav-item"><a class="nav-link" href="distributions">📈 Distributions</a></li>
    <li class="nav-item"><a class="nav-link" href="/inference">📉 Inference</a></li>
    <li class="nav-item"><a class="nav-link" href="/visualization">📊 Visualization</a></li>
    <li class="nav-item"><a class="nav-link" href="/outliers">🔎 Outliers</a></li>
    <li class="nav-item"><a class="nav-link" href="/summary">🧾 Summary Stats</a></li>
  </ul>
</div>
